= form_tag sessions_path, class: 'form-horizontal' do
  %fieldset.col-md-5
    .form-group.input-group
      %span.input-group-addon
        = fa_icon 'envelope'
      = text_field_tag :email, '', placeholder: "email", class: 'form-control'
    .form-group.input-group
      %span.input-group-addon
        = fa_icon 'key'
      = password_field_tag :password, |
        '',                           |
        placeholder: "password",      |
        class: 'form-control'         |
    .actions
      = submit_tag :Login, class: 'btn'
