<%= will_paginate @recipes, class: 'pagination col-md-12 col-sm-12 col-xs-12 text-center' %>

<% @recipes.each do |recipe| %>
    <div class='col-md-3 col-sm-6 col-xs-12'>
      <%= link_to recipe, class: 'no-style' do %></td>
      <div class="thumbnail">
        <h4><%= recipe.title.split(' ')[0..4].join(' ')[/.+[^,:;\.]/].try :html_safe %></h4>
        <%= image_tag recipe.random_thumbnail_url, class: 'img-responsive img-thumbnail' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= will_paginate @recipes, class: 'pagination col-md-12 col-sm-12 col-xs-12 text-center' %>
