<%= form_for(@recipe) do |form| %>
  <fieldset>
    <div class="field controls-row">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="field controls-row">
      <%= form.text_field :title, placeholder: "Title", class: "span5" %>
    </div>
    <div class="field controls-row">
      <%= form.text_area :body, 
        placeholder: "Ingredients and Directions", 
        rows: "15", 
        title: 'You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="tooltip-link">markdown</a> here.',
        class: "span6 instant-tooltip"
      %>
    </div>

    <div id='image-uploads' class='field controls-row'>
      <%#= link_to 'Add Image', action: :add_image, remote: true %>
      <%= form.fields_for :images do |image_fields| %>
          <div class="field controls-row">
            <%= image_fields.file_field :data %>
            <%= image_fields.hidden_field :data_cache %>
          </div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn' %>
    </div>
  </fieldset>
<% end %>
