<h1>Listing recipes</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr class='table-link'>
        <td><%= link_to recipe.title, recipe %></td>
        <td><%= recipe.body %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_recipe_path do %>
  <i class='icon-plus-sign'></i> New Recipe
<% end %>
