<p id="notice"><%= notice %></p>

<legend>
  <%= @recipe.title %>
</legend>

<div class='body-text'>
  <%= md @recipe.body %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
