<% if @recipe.images.present? %>
  <%= render 'image_carousel' %>
<% end %>

<div class='col-md-6 col-sm-6 col-xs-12'>
  <%= legend @recipe.title %>
</div>

<div class='col-md-6 col-sm-6 col-xs-12'>
  <%= md @recipe.body %>
</div>

<div class='col-md-12 col-sm-12 col-xs-12'>
  <%= link_to :root do %>
    <%= fa_icon "arrow-left", text: "Back" %>
  <% end %>

  <% if current_user && @recipe.user == current_user %>
    <%= link_to edit_recipe_path(@recipe) do %>
      <%= fa_icon "pencil", text: "Edit Recipe" %>
    <% end %>
  <% end %>
</div>

<div id='comments' class = 'col-md-12 col-sm-12 col-xs-12 container'>
  <%= legend 'Comments' %>
  <%= render 'comments' %>
</div>
