<legend>
  <%= @recipe.title %>
</legend>

<%= render 'image_carousel' %>

<div class='body-text'>
  <%= md @recipe.body %>
</div>

<%= link_to :root do %>
  <%= fa_icon "arrow-left", text: "Back" %>
<% end %>

<% if current_user && @recipe.user == current_user %>
  <%= link_to edit_recipe_path(@recipe) do %>
    <%= fa_icon "pencil", text: "Edit Recipe" %>
  <% end %>

  <%= link_to new_comment_path(recipe_id: @recipe.id),
    remote: true do %>
    <%= fa_icon "plus", text: "Add Comment" %>
  <% end %>
<% end %>

<div id='comments'>
  <legend>Comments</legend>
<%= render 'comments' %>
</div>
