<legend>
  <%= @recipe.title %>
</legend>

<%= render 'image_carousel' %>

<div class='body-text'>
  <%= md @recipe.body %>
</div>


<%= link_to :root do %>
  <i class='icon-arrow-left'></i> Back
<% end %>

<% if allow? 'recipes', 'edit' %>
  <%= link_to edit_recipe_path(@recipe) do %>
    <i class='icon-pencil'></i> Edit
  <% end %>
<% end %>
