= render 'shared/errors', model: @user
= form_for @user, class: 'form-horizontal' do |f|
  .form-group.input-group
    %span.input-group-addon
      = fa_icon 'envelope'
    = f.text_field :email, placeholder: "email", class: 'form-control'
  .form-group.input-group
    %span.input-group-addon
      = fa_icon 'key'
    = f.password_field :password,
      placeholder: "password",
      title: 'At least one upper case, one lower case, and one non-letter',
      class: "instant-tooltip form-control",
      'data-container' => 'body'
  .form-group.input-group
    %span.input-group-addon
      = fa_icon 'key'
    = f.password_field :password_confirmation,
      placeholder: "password_confirmation",
      title: 'At least one upper case, one lower case, and one non-letter',
      class: "instant-tooltip form-control",
      'data-container' => 'body'
  .actions
    = f.submit class: 'btn'
