<%= render 'shared/errors', model: @user %>

<%= form_for @user, class: 'form-horizontal' do |f| %>
  <div class="form-group input-group">
    <span class='input-group-addon'>
      <%= fa_icon 'envelope' %>
    </span>
    <%= f.text_field :email, placeholder: "email", class: 'form-control' %>
  </div>

  <div class="form-group input-group">
    <span class = 'input-group-addon'>
      <%= fa_icon 'key' %>
    </span>
    <%= f.password_field :password,
      placeholder: "password",
      title: 'At least one upper case, one lower case, and one non-letter',
      class: "instant-tooltip form-control",
      'data-container' => 'body' %>
  </div>
  <div class="form-group input-group">
    <span class='input-group-addon'>
      <%= fa_icon 'key' %>
    </span>
    <%= f.password_field :password_confirmation, 
      placeholder: "password_confirmation", 
      title: 'At least one upper case, one lower case, and one non-letter',
      class: "instant-tooltip form-control",
      'data-container' => 'body' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
