<p id="notice"><%= notice %></p>

<legend>
  <%= @user.email %>
</legend>

<div class='span11'>
  <%= link_to 'Your Recipes', user_recipes_path(@user) %>
</div>

<br>
<br>

<%= link_to :root do %>
  <%= fa_icon 'arrow-left', text: 'Back' %>
<% end %>

<%= link_to edit_user_path(@user) do %>
  <%= fa_icon 'pencil', text: 'Edit' %>
<% end %>
