<nav>
  <div class='navbar navbar-default' role='navigation'>
    <div class='container'>
      <div class="navbar-header col-md-4 col-sm-3">
        <%= button_tag nil, class: 'btn btn-xs pull-right task_status navbar-toggle', data: { toggle: 'collapse', target: '.navbar-ex1-collapse' } do %>
          <%= fa_icon 'bars' %>
          <span class="sr-only">Toggle navigation</span>
        <% end %>
        <%= link_to 'akRecipes', :root, class: 'navbar-brand', id: 'logo' %>
      </div>

      <div class='collapse navbar-collapse navbar-ex1-collapse'>
        <ul class='nav navbar-nav col-md-4 col-sm-4'>
          <% if @recipes %>
            <li>
              <%= form_tag({ controller: :recipes, action: :index }, { class: 'navbar-form' }) do %>
                <div class='form-group'>
                  <%= text_field_tag :query, nil, placeholder: 'filter recipes', class: 'form-control text-center', id: 'recipes-search' %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>

        <ul class='nav navbar-nav navbar-right col-md-4 col-sm-5'>
          <% if current_user %>
            <li><%= link_to 'New Recipe', new_recipe_path %></li>
            <li><%= link_to 'Logout', :logout %></li>
            <li><%= link_to 'Account', :account %></li>
          <% else %>
            <li><%= link_to 'Login', :login %></li>
            <li><%= link_to 'Sign Up', :signup %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
