<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    <nav>
    <div class='navbar'>
      <div class="navbar">
        <div class="navbar-inner">
          <%= link_to 'akRecipes', :root, class: 'brand', id: 'logo' %>
          <ul class="nav">
            <li><%= link_to 'Most Recent', most_recent_path %></li>
          </ul>
        </div>
      </div>
    </div>
    </nav>
    </header>

    <div class='container'>
      <div class='row'>

        <div class='span9'>
          <%= yield %>
        </div>

        <%= render 'layouts/about_me' %>

      </div>
    </div>

  </body>
</html>
